*{
    padding:0;
    margin:0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

h1{
    font-weight: 400;
    margin-bottom: $bottom-margin;
}

p{
    margin-bottom: $bottom-margin;
}

a{
    color: black;
    font-size: 1.6rem;
    text-decoration: none !important;
}

input[type=email], input[type=password]{
    font-size: $base-font-size;
    border: 1px solid #dddddd;
    margin-bottom: $bottom-margin;
    padding:1rem;
}

