

// font sizes
$base-font-size:1.6rem;


// boxed view
$boxed-view-overlay-bg:'https://images.unsplash.com/photo-1506789658653-e5729a1ee31d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=df9993cd64418ab6085234de77617931&auto=format&fit=crop&w=1491&q=80';
$boxed-view-bg: white;

// margin
$bottom-margin: 1.4rem;

//mybutton
$button-bg:#5b4681;

//header
$header-color:rgb(219, 46, 46);